<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="analyze" method="get">
    <h1>Welcome to your free text Utilizer</h1>
    <h1>Enter text below and select choice</h1>
    <textarea name="clntext" style="width: 1423px; height: 92px;"></textarea>
    <button type="submit" name="Submit" >Click here</button>
    <h1><input type="checkbox" name="rmvpnc">Remove Punctuation's</h1>
    <h1><input type="checkbox" name="extraspacermv">Remove Extra space's</h1>
    <h1><input type="checkbox" name="linermv">Remove Line</h1>
    <h1><input type="checkbox" name="caps">Capitalize letter</h1>
</form>
</body>
</html>